.login {
    height: 100vh;
}

.body {
    min-height: 100vh;
}

.fontjudul {
    font: 900 64px Narasi Sans, sans-serif;
    font-weight: 900;
    line-height: 64px;
    color: var(--Primary-Main, #4a25aa);
}

.underfontjudul {
    color: var(--Primary-Main, #4a25aa);
    font-family: "Narasi Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 56px;
}

.login .form-label {
    color: var(--Primary-Main, #4a25aa);
    font-family: "Narasi Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.login-form input {
    border-radius: 4px;
    border: 1px solid var(--Hitam-7, #e0e0ec);
}

.form-check {
    width: 100%;
    margin-left: 0px;
    font: 500 14px Narasi Sans, sans-serif;
    color: var(--Hitam-1, #051c2c);
    letter-spacing: 0.5px;
}

.modal-form-check input {
    font: 300 16px Narasi Sans, sans-serif;
    letter-spacing: 0.5px;
}

.form-check .form-control {
    font: 300 12px Narasi Sans, sans-serif;
    letter-spacing: 0.5px;
}

.form-check a {
    color: var(--Hitam-1, #051c2c);
    font-family: "Narasi Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 100%;
    line-height: normal;
}

.login-left .login {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: none;
    background: var(--Primary-Main, #4a25aa);
    color: #ffe900;
    font-family: "Narasi Sans";
    margin-top: 48px;
}

.login-right {
    align-items: center !important;
    display: block;
    margin-left: 24px;
}

.footer {
    background-color: #260b6f;
    color: white;
    padding: 8px 0px 8px 0px;
    width: 100%;
    bottom: 0;
}

.img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 18px;
    align-self: start;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 48px 32px 48px 32px;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    border-bottom: 2px solid var(--Hitam-7, #e0e0ec);
    background-color: white;
    /* position: fixed; */
}

.logonavbar {
    color: var(--Primary-Main, #4a25aa);
    font-family: "Narasi Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    /* line-height: 1; */
}

.has-search .form-control {
    font-weight: 300;
    font-family: "Narasi Sans";
    background-image: url(https://cdn.builder.io/api/v1/image/assets/TEMP/27df8d2cba5cdf67da5a166c83c49458ed971343c4b958eabd27e05cb0fb720c?);
    background-repeat: no-repeat;
    background-position: 12px 12px;
    padding: 8px 12px 8px 40px;
    border-radius: 24px;
}

.form-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* Sesuaikan dengan kebutuhan */
}

@media (max-width: 991px) {
    .form-search {
        position: relative;
        bottom: -20px;
        left: 10%;
    }
}

.img-3 {
    width: 30px;
    height: 32px;
    margin-top: 4px;
    cursor: pointer;
}


/* 
.sidebar-dropdown:hover {
    display: block;
} */


/* #sidebar {
    display: flex;
    width: 280px;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    position: fixed;
    border: none;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
} */


/* 
#sidebar {
    display: flex;
    width: 190px;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    position: fixed;
    border: none;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
} */


/* @media (max-width: 991px) {
    #sidebar {
        max-width: 100%;
        flex-wrap: wrap;
    }
} */


/* 
a.sidebar-link {
    padding: auto;
    color: white;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.5px;
} */

.div-9 {
    padding-bottom: 50px;
    background-color: var(--Primary-Main, #4a25aa);
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
    font-size: 16px;
    color: var(--White, #fff);
    white-space: nowrap;
    line-height: 150%;
}

@media (max-width: 991px) {
    .div-9 {
        white-space: initial;
    }
}

.div-10 {
    background-color: var(--Primary-Selected, #34128c);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 24px 25px;
    letter-spacing: 0.5px;
    border: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .div-10 {
        white-space: initial;
        padding: 24 20px;
    }
}

.img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
    align-self: center;
}

.div-11 {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Narasi Sans, sans-serif;
    margin-top: 4px;
}

.div-12 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 24px 30px;
    background-color: #4a25aa;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.div-12:hover {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 24px 30px;
    background-color: #34128c;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.div-13 {
    letter-spacing: 0.5px;
}

@media (max-width: 991px) {
    .div-12 {
        white-space: initial;
        padding: 24 20px;
        width: 100%;
    }
}

.img-5 {
    aspect-ratio: 0.93;
    object-fit: auto;
    object-position: center;
    width: 30px;
    align-self: center;
}

.div-14 {
    align-self: start;
    margin-top: 64px;
    margin-left: 84px;
}

@media (max-width: 991px) {
    .div-14 {
        max-width: 100%;
        margin-top: 0px;
        margin-left: auto;
    }
}

.div-15 {
    gap: 64px;
    display: flex;
}

@media (max-width: 991px) {
    .div-15 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
        margin-left: auto;
        padding-top: 4px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: auto;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-16 {
    align-items: center;
    border: 4px solid transparent;
    border-radius: 8px;
    background: linear-gradient(to right, white, white), linear-gradient(to right, #4a25aa 0%, #b60f7f 100%, #b60f7f);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
    line-height: 120%;
    width: 570px;
    padding: 16px 24px;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-16 {
        max-width: 100%;
        margin-top: 32px;
        padding: 16px 24px;
    }
}

.img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 67px;
    background-color: var(--Biru-10, #e9ebf7);
    border-radius: 50%;
}

.div-17 {
    color: var(--Hitam-1, #051c2c);
    margin-top: 12px;
    white-space: nowrap;
    font: 32px Narasi Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-17 {
        white-space: initial;
    }
}

.div-18 {
    align-self: stretch;
    color: #000;
    margin-top: 4px;
    font: 300 20px/150% Narasi Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .div-18 {
        max-width: 100%;
    }
}

.div-19 {
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Primary-Main, #4a25aa);
    margin-top: 12px;
    color: var(--White, #fff);
    white-space: nowrap;
    padding: 12px 16px;
    font: 16px Narasi Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-19 {
        white-space: initial;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.div-20 {
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--Semantic-Main, #4a25aa);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
    line-height: 120%;
    width: 570px;
    padding: 16px 24px;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-20 {
        max-width: 100%;
        margin-top: 40px;
        padding: 16px 24px;
    }
}

.img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 67px;
    background-color: var(--Biru-10, #e9ebf7);
    border-radius: 50%;
}

.div-21 {
    color: var(--Hitam-1, #051c2c);
    margin-top: 12px;
    white-space: nowrap;
    font: 32px Narasi Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-21 {
        white-space: initial;
    }
}

.div-22 {
    align-self: stretch;
    color: #000;
    margin-top: 4px;
    font: 300 20px/150% Narasi Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .div-22 {
        max-width: 100%;
    }
}

.div-23 {
    justify-content: center;
    border-radius: 8px;
    background-color: var(--Primary-Main, #4a25aa);
    margin-top: 12px;
    color: var(--White, #fff);
    white-space: nowrap;
    padding: 12px 16px;
    font: 16px Narasi Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-23 {
        white-space: initial;
    }
}

.modal {
    border-radius: 16px;
    font: 500 16px Narasi Sans, sans-serif;
}

.modal-dialog {
    align-self: center;
    justify-content: center;
    width: 655px;
    height: 609px;
    border-radius: 16px;
}

.modal-body {
    margin: 24px;
    border-radius: 16px;
}

.modal-content {
    background: var( --Semantic-Main, linear-gradient(270deg, #4a25aa 0%, #b60f7f 100%, #b60f7f 100%));
    margin: 8px;
}

.img-8 {
    width: 154px;
    height: 33px;
    margin-bottom: 24px;
    align-self: center;
}

.button-trigger {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: var(--Primary-Main, #4a25aa);
    color: white;
}

.button-submit {
    color: white;
    padding: 12px 16px;
    justify-content: center !important;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: var( --Semantic-Main, linear-gradient(270deg, #4a25aa 0%, #b60f7f 100%, #b60f7f 100%));
}

.button-tutup {
    color: white;
    padding: 12px 16px;
    justify-content: center !important;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #75757e;
}

.button-check {
    color: white;
    padding: 12px 16px;
    justify-content: center !important;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: var(--Primary-Main, #4a25aa);
}

.navback {
    color: var(--Primary-Main, #4a25aa);
    font-family: "Narasi Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    background-color: transparent;
    border: none;
    margin-bottom: 32px;
    width: fit-content;
    max-width: fit-content;
    z-index: 9999;
}

.judulhalaman {
    color: var(--Primary-Main, #4a25aa);
    font-family: "Narasi Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
    padding-bottom: 32px;
    text-align: center;
    margin-top: 12px;
    margin-left: 8px;
}

@media (max-width: 991px) {
    .judulhalaman {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
        max-width: 100%;
        max-height: fit-content;
        padding-bottom: 12px;
        padding-top: 12px;
    }
}

.formrequest {
    font: 500 16px Narasi Sans, sans-serif;
    display: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

.formrequest .form-control {
    font: 300 16px Narasi Sans, sans-serif;
    padding: 12px 24px;
}

.formrequest .form-select {
    font: 300 16px Narasi Sans, sans-serif;
    padding: 12px 24px;
}

.button-request .button {
    padding-bottom: 24px;
    background-color: var(--Primary-Main, #4a25aa);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font: 500 16px Narasi Sans, sans-serif;
    border: none;
    margin-bottom: 32px;
    border-radius: 8px;
}

.button-request .button:hover {
    padding-bottom: 24px;
    background-color: var(--Primary-Selected, #34128c);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font: 500 16px Narasi Sans, sans-serif;
    border: none;
    margin-bottom: 32px;
    border-radius: 8px;
}

.button-approv {
    padding-bottom: 32px;
    gap: 12px;
    font: 500 16px Narasi Sans, sans-serif;
    border: none;
    border-radius: 8px;
}

@media (max-width: 991px) {
    .button-approv {
        display: flex;
        gap: 4px;
    }
}

@media (max-width: 991px) {
    .button-approv .btn {
        font-size: 16px;
    }
}

.button-dashboard {
    text-align: center;
}

.button-dashboard .button-ini {
    color: var(--Primary-Main, #4a25aa);
    text-align: center;
    font-family: "Narasi Sans";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 67.2px */
    width: 100%;
    height: 246x;
    padding: 27px 26px;
    justify-content: center;
    align-items: center;
    /* gap: 24px; */
    background: transparent;
    backdrop-filter: blur(30px);
    /* gap: 10px; */
    border: none;
    border-radius: 24px;
    box-shadow: 0px 1px 8px -1px rgba(76, 37, 176, 0.505);
    /* margin-left: 48px; */
}

@media (max-width: 991px) {
    .button-dashboard {
        flex-direction: column;
        align-items: stretch;
        margin-left: 0px;
        margin-bottom: 24px;
        margin-top: 24px;
        max-width: 100%;
    }
}

.button-dashboard .button-ini:hover {
    box-shadow: 5px 10px #4a25aa;
    border: 0.5px solid rgba(52, 24, 123, 0.505);
}

.button-close {
    color: white;
    padding: 12px 16px;
    justify-content: center !important;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #929292;
}

.button-adminapprov {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 48px 56px;
    gap: 10px;
    border-radius: 12px;
    background: var(--Secondary-Main, #ffe900);
    border: none;
    color: #4a25aa;
    margin-bottom: 24px;
}

.button-adminapprov:hover {
    background: #c6b500;
    color: #34128c;
}

@media (max-width: 991px) {
    .button-adminapprov {
        align-items: stretch;
        gap: 0px;
        margin-bottom: 16px;
        padding: auto;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
}

.sub-menu-wrap {
    position: absolute;
    overflow: hidden;
    top: 120%;
    right: -42px;
    width: 240px;
    max-height: 0px;
    transition: max-height 0.5s;
}

.sub-menu-wrap .open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #e9ebf7;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 24px 8px 24px 8px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 24px;
    margin-left: 1rem;
}

.user-info {
    align-items: center;
    gap: 24px;
}

.button-profile {
    align-items: center;
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    background-color: var(--Primary-Main, #4a25aa);
    color: var(--Secondary-Main, #ffe900);
    font-family: "Narasi Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.button-profile:hover {
    background: #34128c;
}

@media (max-width: 991px) {
    .sub-menu {
        width: auto;
        display: block;
        margin-left: 0px;
        padding: 0px;
        border-radius: 8px;
        /* border: 1px solid #BCC4E5; */
        background: none;
        box-shadow: 0px 1px 8px -1px rgba(74, 37, 170, 0.2);
    }
    .button-profile {
        justify-content: start;
        background-color: transparent;
        font-weight: 100;
        padding: 8px 8px;
        margin-bottom: 0px !important;
    }
    .button-profile.sidebar-link {
        color: #000;
    }
    .button-profile.sidebar-link:hover {
        color: #f1f1f1;
        background-color: var(--Primary-Main, #4a25aa);
        border-radius: 8px;
    }
}

.garis {
    display: grid;
    border: none;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
    width: 90%;
}

.garis::before,
.garis::after {
    content: "";
    height: 2px;
    background-color: #75757e;
    display: block;
    width: 120%;
}

.img-69 {
    padding-top: 12px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 2.5px solid #4a25aa;
    margin-top: 12px;
}

.detail-user {
    font: 400 14px Narasi Sans, sans-serif;
    color: #929292;
    display: flex;
    gap: 12px;
}

.button-silang {
    margin: 16px;
    display: flex;
    border: none;
    background: none;
}

.departposisi {
    display: flex;
    flex: 1 0 0;
    gap: 16px;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.departposisi .form-select {
    font: 300 14px Narasi Sans, sans-serif;
}

option {
    padding: 24px;
    margin: 12px;
}

.badanisi {
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 56px;
    padding-right: 48px;
    min-height: 100vh;
}

.button-departemen {
    display: flex;
    padding: 16px 24px;
    flex-direction: row;
    gap: 8px;
    border-radius: 8px;
    border: none;
    background: var(--Primary-Main, #4a25aa);
    color: #ffe900;
    font: 600 16px Narasi Sans, sans-serif;
    align-items: end;
    justify-content: space-between;
}

.button-departemen:hover {
    background: #34128c;
}

.button-general {
    display: flex;
    width: auto;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary-Main, #4a25aa);
    border: none;
    color: #ffe900;
    font: 500 14px Narasi Sans, sans-serif;
    letter-spacing: 0.5px;
}

.button-general:hover {
    background: #34128c;
}

.garisbutton {
    overflow: hidden;
    text-align: center;
    font: 600 14px Narasi Sans, sans-serif;
    margin-bottom: 12px;
}

.garisbutton button {
    border: none;
    background: none;
    color: #c2c1c6;
}

.garisbutton::before,
.garisbutton::after {
    background-color: #c2c1c6;
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.garisbutton::before {
    right: 0.5em;
    margin-left: -50%;
}

.garisbutton::after {
    left: 0.5em;
    margin-right: -50%;
}

.status {
    display: flex;
    flex: 1 0 0;
    gap: 16px;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.status .form-select {
    font: 300 14px Narasi Sans, sans-serif;
}

label .form-label {
    font-size: 16px;
}

.keteranganbudget {
    display: inline-flex;
    gap: 24px;
    background: #e9ebf7;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #bcc4e5;
    align-items: center;
    font: 400 14px sans-serif;
    letter-spacing: 0.3px;
}

@media (max-width: 981px) {
    .keteranganbudget {
        gap: 0px;
        padding: 8px;
    }
    .keteranganbudget .tunggu,
    .keteranganbudget .tolak,
    .keteranganbudget .diterima {
        padding: 3px;
    }
    /* .keteranganbudget .tolak {
        gap: 8px;
    }

    .keteranganbudget .diterima {
        gap: 8px;
    } */
}

.keteranganbudget .tunggu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.keteranganbudget .tolak {
    display: flex;
    align-items: center;
    gap: 12px;
}

.keteranganbudget .diterima {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tablenih {
    border: 2px solid #bcc4e5;
    border-radius: 12px;
    margin-top: 12px;
    padding: 12px;
    box-shadow: 0px 4px 24px -1px rgba(74, 37, 170, 0.2);
}

.total-price {
    font-weight: 500;
}

.button-permintaan {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Primary-Main, #4a25aa);
    background-color: transparent;
    color: #4a25aa;
    margin-bottom: 24px;
}

.button-permintaan svg path {
    fill: #4a25aa;
}

.button-permintaan:hover {
    border: #4a25aa;
    background-color: #4a25aa;
    color: #fff;
    border: 1px solid var(--Primary-Main, #4a25aa);
}

.button-permintaan:hover svg path {
    fill: #ffff;
}

#karyawan-button {
    position: relative;
    border: 2px solid, #4a25aa;
}

#karyawan {
    position: absolute;
    top: 0px;
    right: -45px;
    width: auto;
    gap: 12px;
    list-style: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(76, 3, 125, 0.2);
    border: 1px solid #4a25aa;
    background: white;
}

#karyawan a {
    padding: 12px 12px;
    color: #4a25aa;
    text-decoration: none;
}

#karyawan a:last-child {
    border-bottom: none;
}

#karyawan a:hover {
    color: white;
}

#karyawan a:hover {
    background-color: #34128c;
    border-radius: 12px;
}


/* .sidebar-dropdown {
    display: none;
} */


/* #karyawan-button:hover .sidebar-dropdown {
    display: block;
} */

.button-export {
    width: 100%;
    color: white;
    padding: 12px 20px;
    margin-right: 8px;
    background: #4a25aa;
    font: 500 16px Narasi Sans, sans-serif;
    border: none;
    border-radius: 8px;
}

.tablecoba,
td {
    padding-bottom: 12px;
}

.button-export {
    padding-top: 16px;
    padding-bottom: 16px;
    font: 500 16px Narasi Sans, sans-serif;
    border: none;
    border-radius: 8px;
    background: #4a25aa;
}

.button-export:hover {
    background: #34128c;
}

.cobainnih {
    margin-top: -24px;
}

@media (max-width: 991px) {
    .cobainnih {
        margin-top: 0px;
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.cobalagi {
    margin-right: 250px;
}

@media (max-width: 991px) {
    .cobalagi {
        margin-right: 0px;
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.buttonpercobaan {
    display: flex;
    width: 63px;
    height: 63px;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    border-radius: 36px;
    background: var(--Primary-Main, #4a25aa);
    position: fixed;
    bottom: 12px;
    right: 36px;
}

.uwuq {
    right: 0;
    color: white;
    border-radius: 6px;
    background-color: #4a25aa;
    border: none;
    text-align: center;
    text-decoration: none;
    font: 400 16px Narasi Sans, sans-serif;
    align-self: center;
    padding: 10px 14px;
}

.uwuq:hover {
    background-color: #34128c;
}

.tablein {
    border: 2px solid #bcc4e5;
    border-radius: 12px;
    margin-top: 12px;
    padding: 12px;
    box-shadow: 0px 4px 24px -1px rgba(74, 37, 170, 0.2);
}

.arips {
    justify-content: space-between;
    display: flex;
    gap: 64px;
    margin-bottom: 12px;
}

@media (max-width: 991px) {
    .arips {
        display: block;
    }
}

.button-bro {
    color: #4a25aa;
    background: none;
    border: 1px solid #4a25aa;
    display: flex;
    padding: 16px 24px;
    flex-direction: row;
    gap: 8px;
    border-radius: 8px;
    font: 600 16px Narasi Sans, sans-serif;
    align-items: end;
    justify-content: space-between;
}

.button-bro:hover {
    background: #4a25aa;
    color: white;
}

.button-bro svg path {
    fill: #4a25aa;
}

.button-bro:hover svg path {
    fill: #ffff;
}

.kitacobain {
    display: inline-flex;
    gap: 24px;
}

.beruda {
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    padding: 24px;
    width: 1400px;
    /* adjust  */
    max-width: 1400px;
    word-wrap: break-word;
    height: 820px;
    /* height: fit-content; */
    box-shadow: 0px 1px 12px -1px rgba(74, 37, 170, 0.2);
}

@media (max-width: 981px) {
    .beruda {
        max-width: 70%;
        flex-wrap: wrap;
    }
}

.markicob {
    display: flex;
    text-decoration: none;
    margin-bottom: 12px;
    width: 400px;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 1px 8px -1px rgba(74, 37, 170, 0.2);
    background: white;
}

.markicob:hover {
    border: 1px solid #4a25aa;
    box-shadow: 5px 10px #888888;
}

.bercoba {
    color: #4a25aa;
    white-space: nowrap;
    font: 600 24px Narasi Sans, sans-serif;
    letter-spacing: 1px;
}

.bercabe {
    align-self: stretch;
    color: #000;
    margin-top: 4px;
    font: 300 16px Narasi Sans, sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}

.containerr {
    margin-bottom: 24px;
}

.wokwok {
    display: flex;
    margin-bottom: 12px;
    width: 400px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 1px 8px -1px rgba(74, 37, 170, 0.2);
    background: #4a25aa;
}

.wkwk {
    color: #ffe900;
    white-space: nowrap;
    font: 400 16px Narasi Sans, sans-serif;
    letter-spacing: 1px;
}

.wikwik {
    align-self: stretch;
    color: #ffe900;
    font: 600 24px Narasi Sans, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width: 981px) {
    .blablabla {
        max-width: 200px;
        flex-wrap: wrap;
    }
}

.request-form {
    background-color: transparent !important;
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #4a25aa !important;
}

.card-budget {
    display: flex;
    text-decoration: none;
    margin-bottom: 12px;
    /* width: 600px; */
    padding: 32px 24px;
    flex-direction: column;
    gap: 12px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 1px 8px -1px rgba(76, 37, 176, 0.505);
    align-items: start;
    font-family: Narasi Sans, sans-serif;
}

.text-sisa {
    font-size: 42px;
    font-weight: 300;
    color: #4a25aa;
}

@media (max-width: 981px) {
    .text-sisa {
        font-size: 26px;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Menempatkan konten di tengah */
    overflow-y: auto;
    /* Menambahkan scrollbar vertikal */
    max-height: 80vh;
    /* Membatasi tinggi kontainer */
    max-width: 90vw;
    /* Membatasi lebar kontainer */
    margin: 0 auto;
    /* Membuat kontainer berada di tengah */
    padding: 20px;
    /* Memberikan ruang di sekitar konten */
    background-color: rgb(246, 246, 246);
    border-radius: 8px;
}

.pdf-page {
    max-width: 90%;
    /* Membatasi lebar maksimum setiap gambar */
    margin-bottom: 8px;
}

.diapainaja {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #000000;
    background-color: transparent;
    overflow-x: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.453), rgba(0, 0, 0, 0.394)), url("../asset/image/karyawan.jpg");
    background-size: cover;
    /* Ensures the background image covers the entire element */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the background image from repeating */
    width: 100%;
    height: 100vh;
    /* Sets the height of the element to 100% of the viewport height */
}

.apaanih {
    min-height: 100vh;
}

a {
    cursor: pointer;
    transition: all 200ms linear;
    text-decoration: none;
}

.link {
    color: #c4c3ca;
}

.link:hover {
    color: #ffeba7;
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    /* Transparansi untuk efek glass */
    backdrop-filter: blur(1px);
    /* Efek blur untuk latar belakang glass */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0px 4px 24px -1px rgba(74, 37, 170, 0.2);
}

.card-back {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.form-group {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.coba-form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #000000;
    background-color: #f3f3f5;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(175, 175, 175, 0.2);
}

.coba-form-style:focus,
.coba-form-style:active {
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.tombol {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    color: #102770;
    text-decoration: none;
    border: 0.5px solid #f8f8f8;
    box-shadow: 0 8px 24px 0 rgba(171, 122, 255, 0.2);
}

.tombol:hover {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.maindashboardlink {
    margin-top: 10px;
    margin-right: 32px;
    text-decoration: none;
    font: 550 16px Narasi Sans, sans-serif;
    color: rgb(199, 198, 198);
    letter-spacing: 0.5px;
}

.maindashboardlink:hover {
    color: #4a25aa;
}

@media (max-width: 981px) {
    .maindashboardlink {
        margin-bottom: 12px;
    }
}

.notereject {
    margin-left: 12px;
    background-color: #eeb4b0;
    border: 1px solid #e73638;
    width: 1616px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.judulreject {
    font: 500 16px Narasi Sans, sans-serif;
    letter-spacing: 0.2px;
}

.isireject {
    padding-top: 4px;
    padding-bottom: 4px;
    letter-spacing: 0.2px;
    padding-left: 14px;
}

@media (max-width: 981px) {
    .notereject {
        width: auto;
        margin-right: 12px;
    }
}

.previewbtn {
    border-radius: 8px;
    padding-bottom: 9px;
    padding-top: 9px;
    background-color: #4a25aa;
    margin-right: 8px;
    color: #ffe900;
    border: none;
    padding: 12px 16px;
}

.previewbtn:hover {
    background-color: #34128c;
}